
.header-container{
    width:100%;
    height: 100px;
    background-color: #004e71;
}

.menu-list li {
    list-style: none;
    display: inline;
    padding-right: 50px;
    color: white;
}
.logo img{
    margin-top: 10px;
}
.menu-list li a {

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-list li a:hover {

   color: orange;
}
.menu-list {
    position: relative;
    top: 45px;
    left: 50px;
}

.logo img {
    float: left;
    width: 150px;
    padding: 5px;
    padding-left: 30px;
    
}
.btn{
   background-color: orange;
   color: white;
   padding: 15px;

   float: right;
   margin: 0 50px 0  0;
   border-style: none;
}
.btn:hover {
    background-color: rgb(72, 200, 60);
    color: white;
}
.btn2 {
    padding: 15px;
    justify-content: center;
    background-color: white;
    color: #004e71;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.btn2:hover {
    background-color: rgb(72, 200, 60);
    color: white;
}
.mid-sec{
    width: 95%;
    height: 350px;
    padding-top: 50px;
    background-color: aqua;
    margin: auto;
    background-image:url("Images\sld.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family:sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

.m-sec1 {
    float:left;
    width: 50%;
    padding: 30px;
    text-align:left;
    word-spacing: 0.2em;
    box-sizing: border-box;
    color: #004e71;

}
.m-sec2 {
    float:right;
    width: 50%;
   
}
.bottom-sec{
    background-color: #21739a;
    color: white;
    text-align: center;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
.menu li {
    list-style: none;
    display: inline;

}

.menu li a {
    text-decoration: none;
    float: left;
    display: inline;
 

}