.logo {
    width:100%;
    background-color: #004e71;
}

.logo img {
    width: 150px;
    padding: 5px;
    padding-left: 50px;
    
}
.btn{
   background-color: orange;
   color: white;
   padding: 15px;
   border-radius: 30px;
   float: right;
   margin: 15px 100px 0  0;
   border-style: none;
}
.btn2 {
    padding: 15px;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    color: #004e71;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.mid-part {
    font-family:sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}

.callto-act {
    background-color: #21739a;
    width: 90%;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.menu li {
    list-style: none;

}

.menu li a {
    text-decoration: none;
    float: left;
    display: inline;
 

}